//პირველი კონტეინერი

$myColor:#2F2643;
//პირველი ტექსტი
//გლავნი დივი ამ ტექსტებისთვის
.teextdiv{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
//მეორეადგილოსანი გლავნი
.textdiv{

    width: 50%;
    display: table-row;
    justify-content: center;
    align-items: center;
    text-align: center;

}
//ტექსტი 1
.text{

    color: #190E2F;

}
//ტექსტი2
.minute{

    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    opacity: 0.8;

}
