nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#logo {
  width: 10%;
}
p {
  margin-left: 100px;
  margin-top: 40px;
  font-weight: bold;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}
#satave {
  text-align: center;
  font-size: 55px;
}
#shesavali {
  margin-left: 670px;
}
#gilakuna {
  margin-left: 870px;
  background-color: rgb(187, 20, 103);
  color: lavender;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#login {
  margin: 40px 0 0 200px;
  margin-left: 200px;
  margin-top: 40px;
  width: 100px;
  height: 25px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 23px;
}
#register {
  margin-top: 40px;
  width: 100px;
  height: 35px;
  background-color: rgb(187, 20, 103);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}
.gilakuniebi {
  margin-left: 500px;
}
.photo {
  display: flex;
  justify-content: center;
}
.satauri2 {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  padding-left: 18%;
}
.satauri3 {
  text-align: center;
  font-size: 30px;
}

.article {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  margin-top: 70px;
  margin-left: 250px;
}
.graph {
  background-color: rgb(236, 234, 229);
  width: 350px;
  height: 150px;
  font-size: 25px;
  border-top: 5px solid red;
}
#gilakuna3 {
  margin-left: 900px;
  margin-top: 60px;
  background-color: rgb(187, 20, 103);
  color: lavender;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
}
.satauri4 {
  font-size: 35px;
}
.article2 {
  display: flex;
  justify-content: space-between;
  width: 1800px;
  margin-top: 150px;
}
.subarticle2 {
  width: 500px;
  height: 400px;
}
.earnmoney {
  padding-left: 600px;
}
.satauri5 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.493);
}
.navarocheni {
  background-color: lightgray;
  margin-top: 150px;
}
.findout {
  margin-left: 100px;
}
.urielamsheshao {
  display: flex;
  justify-content: space-between;
  width: 1800px;
  height: 400px;
}
.subarticle3 {
  margin-bottom: 500px;
  padding-left: 6%;
  margin-left: 50px;
}
.urielavwyalio {
  display: flex;
  justify-content: space-between;
  width: 1800px;
  padding-bottom: 100%;
}
.satauri6 {
  font-size: 35px;
}
.satauri7 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.493);
  display: flex;
  margin-bottom: 500px;
}
.realtime {
  width: 40%;
}
.kalendari {
  width: 12%;
  margin-left: 20%;
}
