$myColor:#2F2643;
$myFontSize: 20px;

//პირველი წინადადება
.heading{
    
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

 }

.inhead{

    width: 80%;
    height: 350px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ban_head{

    display: flex;
    position: relative;
    width: 869px;
    height: 144px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: #190E2F;

}

//მეორე წინადადება

.ban_par{

    position: absolute;
    width: 604.7px;
    height: 66px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    color: #190E2F;
}
.heading1{
    
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -190px;

 }
.inhead1{

    width: 80%;
    height: 350px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;


}

//ღილაკი

.B{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;

}

#btnz{

    height: 60px;
    font-weight: bold;
    font-size: $myFontSize;
    opacity: 0.8;
    font-weight: bold;
    font-size: $myFontSize;


}

//ბოლო ტექსტი

.credit{

    display: flex;
    justify-content: center;
    align-items: center;


}

.card{

    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;

}

.bnr{

    display: flex;
    justify-content: center;
    align-items: center;

}